version: '3.1'
services:
  node1:
    build: .
    ports:
      - '3000'

  node2:
    build: .
    ports:
      - '3000'

  node3:
    build: .
    ports:
      - '3000'

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    links:
      - node1:node1
      - node2:node2
      - node3:node3
